# Ignore compiled binaries and build output
/target/
Cargo.lock

# Ignore IDE or editor-specific files
.idea/
.vscode/
*.swp
aaa
# Ignore generated documentation
/doc/

# Ignore user-specific files
*.iml
*.rs.user
